td {
  border: 1px solid black;
  padding:10px;
}

body {
  font-family: "Courier New";
}


.ui-menu .ui-menu-item a{
    font-size:30px!important;
}

.ui-menu-item {
    font-size:30px;
}
#tags:active {
    box-shadow: 0 0 30px #96f226
}
#tags:focus {
    box-shadow: 0 0 30px #96f226
}
